{% comment %} 활동 상세 화면 {% endcomment %}
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/activity_detail.css">
        <title>활동 상세 화면</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <nav id="topMenu">
            <ul>
                <li><a class="menuLink" href="#"><img class="logo" src="img/ECAC_logo.jpg"></a></li>
                <li><a class="menuLink" href="#">points</a></li>
                <li><a class="menuLink" href="#">search</a></li>
                <li><a class="menuLink" href="#">myPage</a></li>
            </ul>
        </nav>
        
        <div class="content_main">
            <div class="for-date1">
                <input type="text" class="content-date" placeholder="참여 날짜: 2022.04.01" readonly/>
            </div>
            <div class="for-date2">
                <input type="text" class="content-date" placeholder="수료 날짜: 2022.05.01" readonly/>
            </div>
            <input type="text" class="content1" placeholder="공모전 A" readonly/>
            <input type="text" class="content2" placeholder="분야: IT, 개발, 아이디어" readonly/>
            <input type="text" class="content2" placeholder="스마트 관광을 위한 아이디어를 제시하고, 이를 앱으로 개발하는 공모전이다." readonly/>
            
        </div>
        
        <div class="pic">
            <!-- <img class="img-plus" src="img/plus.jpg"> -->
        </div>
        <div class="pic-content">
            <input type="text" class="pic-title" placeholder="공모전 A 상장" readonly/>
            <input type="text" class="pic-date1" placeholder="등록 날짜" readonly/>
            <input type="text" class="pic-date2" placeholder=":2022.05.01" readonly/>
            <input type="text" class="pic-date1" placeholder="인증 완료 날짜" readonly/>
            <input type="text" class="pic-date2" placeholder=":2022.05.03" readonly/>
            <input type="text" class="pic-num" placeholder="1" readonly/>
        </div>
        
        <div class="pic">
            <!-- <img class="img-plus" src="img/plus.jpg"> -->
        </div>
        <div class="pic-content">
            <input type="text" class="pic-title" placeholder="공모전 A 활동사진" readonly/>
            <input type="text" class="pic-date1" placeholder="등록 날짜" readonly/>
            <input type="text" class="pic-date2" placeholder=":2022.05.10" readonly/>
            <input type="text" class="pic-date1" placeholder="인증 완료 날짜" readonly/>
            <input type="text" class="pic-date2" placeholder=":2022.05.13" readonly/>
            <input type="text" class="pic-num" placeholder="2" readonly/>
        </div>

    </body>
</html>

